:root {
  --header-height: 4rem;
  --small-border: 0.1rem solid #00000022;
  --border-radius: 0.5rem;

  --main-bg-color: #3c4256;
	--main-text-color: #d7d7d7;
  --header-color: #150d0d;
  --header-text-color: #5f835f;
	--text-highlight-color: rgb(160, 128, 68);
  --hover-outline-color: rgb(193, 238, 193);
  --link-color: rgb(255, 145, 0);
  --current-page-link-color: rgb(143, 149, 255);

  --default-button-color: rgb(84, 78, 78);
  --button-green: green;
  --button-yellow: rgb(146, 146, 51);;
  --button-red: rgb(96, 27, 27);

  --create-bg-color: rgb(70, 84, 63);
  --delete-bg-color: rgb(76, 64, 64);
  --edit-bg-color: rgb(76, 76, 64);

  --dog-color: #77614657;
  --cat-color: #70724d78;
  --male-color: #b1b2ce;
  --female-color: #c4a8bb;
}

*, * *, * * * {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 60px;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
}

input, select, textarea {
  padding: 0.5rem;
}

select {
  cursor: pointer;
}

a {
  color: var(--link-color);
}

.highlighted {
  color: var(--text-highlight-color);
  font-weight: bold;
}

header {
  height: var(--header-height);
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

#header-button-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

#header-button-area button {
  max-width: unset;
  padding: 0.75rem 1rem;
}

h1.home-header {
  margin: 0;
  padding: 0;
  width: max-content;
  --text-shadow: 0 0 0.25rem 0.1rem rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

h4 {
  width: 100%;
  text-align: center;
  opacity: 0.8;
  margin-top: 0;
}

main {
  padding: 1rem 2rem;
}

main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
}

main.veiled::after {
  opacity: 1;
  pointer-events: unset;
}

ul {
  padding: 0;
}

h1.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  gap: 1rem;
}

h1 button {
  font-size: 1rem;
}

.page-link {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000033;
  border: var(--small-border);
  border-radius: 0.25rem;
}

.page-link.current {
  background-color: transparent;
  border: none;
  color: var(--current-page-link-color);
  font-weight: bold;
}

button {
  padding: 0.75rem 1.5rem;
  max-width: 8rem;
  font-size: inherit;
  font-family: inherit;
  background-color: var(--default-button-color);
  color: #eee;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: transform 100ms;
}

button:active {
  transform: scale(0.9);
}

button:disabled {
  opacity: 0.5;
  background-color: rgb(87, 101, 111);
}

button:disabled:hover {
  outline: unset;
}

button.green {
  background-color: var(--button-green);
  max-width: unset;
}

button.yellow {
  background-color: var(--button-yellow)
}

.modal button.yellow {
  max-width: unset;
  width: max-content !important;
}

button.red {
  background-color: var(--button-red);
}

button:hover, .page-link:hover {
  outline: 0.25rem solid var(--hover-outline-color);
}

.button-area {
  display: flex;
  width: 100%;
  padding: 0 6rem;
  margin: 1rem 0;
  justify-content: space-between;
  gap: 0.25rem;
  align-items: baseline;
}

.button-area.page-link-spread {
  padding: 0 15%;
  justify-content: center;
  gap: 2rem;
}

.page-display {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 3rem 0;
}

.page-display > div:first-child {
  font-weight: bold;
  margin: 0.5rem;
}

.page-display select {
  font-size: 1.25rem;
  height: 2.5rem;
}

.page-display > form {
  all: unset;
  display: flex;
  align-items: center;
  gap:0.5rem;
}

.page-display > form button {
  padding: 0 0.5rem;
  height: 2.5rem
}

.animal-list {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-type: none;
  opacity: 1;
  transform-origin: top center;
  transition: opacity 200ms ease, transform 200ms ease;
}

.animal-list.obscured {
  transition: none;
  opacity: 0;
  transform: scale(1.05);
}

.animal-list-item {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: calc(var(--header-height) * 2) auto;
  gap: 1rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.05);
  background-color: #7e6363;
}

.dog-list-item {
  background-color: var(--dog-color);
}

.cat-list-item {
  background-color: var(--cat-color);
}

.icon {
  position: relative;
  width: calc(var(--header-height) * 2);
  height: calc(var(--header-height) * 2);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 60% 60%;
}

.cat-icon {
  background-image: url(../img/caticon.png);
  background-size: auto 80%;
}

.dog-icon {
  background-image: url(../img/dogicon.png);
  background-size: auto 52.5%;
}

.animal-list .icon {
  border-radius: var(--border-radius);
}
.animal-list .icon.female {
  background-color: var(--female-color);
}
.animal-list .icon.male {
  background-color: var(--male-color);
}

.animal-stat-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.animal-list-item form {
  min-width: unset;
  width: unset;
}

.animal-list-item .animal-name {
  font-size: 1.5rem;
  color: rgb(241, 188, 90);
  font-weight: bold;
}

.animal-species {
  position: absolute;
  top: 0.25rem;
  left: 0.5rem;
  color: #222;
  font-size: 1.35rem;
  font-weight: bold;
}

.animal-id {
  position: absolute;
  opacity: 0.35;
  right: 0.5rem;
  bottom: 0.25rem;
}

.animal-list-item > .button-area {
  width: min-content;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  grid-column-start: 1;
  grid-column-end: 3;
  height: min-content;
}

.animal-list-item > .button-area button{
  width: 9rem;
  padding: 0.5rem 1.5rem;
}

.modal {
  font-size: 1rem;
  font-weight: normal;
	position: fixed;
	left: 50%;
	top: 50%;
	width: max-content;
  height: min-content;
	translate: -50% -50%;
	border: var(--small-border);
	box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.3);
	display: flex;
  flex-direction: column;
  align-items: center;
	gap: 1rem;
	padding: calc(var(--header-height) / 2);
	z-index: 1;
	border-radius: 1rem;
  transition: transform 300ms ease, opacity 200ms ease;
}

.error-messages {
  position: absolute;
}

.modal .modal-message {
  font-size: 1.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.modal .modal-message > .highlighted {
  font-size: 2rem;
	font-weight: bold;
}

.modal.obscured {
  transform: scale(0.95);
	opacity: 0;
	pointer-events: none;
}

.modal.hidden {
  display: none;
  z-index: -1;
}

.modal .button-area {
  align-items: center;
	justify-content: center;
	min-height: unset;
  text-align: center;
}

.modal#create-modal{
	background-color: var(--create-bg-color);
}

.modal.delete-modal {
	background-color: var(--delete-bg-color);
}

.modal.edit-modal {
	background-color: var(--edit-bg-color)
}

.modal#login-register-modal {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr;
  gap: 0 2rem;
  background-color: var(--create-bg-color);
}
.modal#login-register-modal .modal-message {
  font-weight: bold;
}

.modal#login-register-modal > .button-area {
  grid-column-start: 1;
  grid-column-end: 3;
}
.modal#login-register-modal form {
  flex-grow: 1;
}
.modal#login-register-modal .form-row {
  flex-grow: 1;
}

#login-area, #register-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.not-logged-in-message, .empty-list-message {
	margin: 1rem;
	margin-top: 2rem;
	font-style: italic;
	opacity: 0.8;
}

.x-button, .x-button::after {
	border-radius: 0.125rem;
	padding: 0;
	margin: 0;
	width: calc(var(--header-height) / 2);
	height: calc(var(--header-height) / 2);
	background-color: red;
}

textarea {
  height: 4rem;
}

form {
	display: flex;
	flex-direction: column;
	min-width: min-content;
	max-width: 90vw;
}

.select-form {
  outline: 2px solid orange;
}

form select {
  width: min-content;
}

form button {
  align-self: center;
}

#header-button-area form {
  min-width: unset;
  width: unset;
}

.form-row {
	position: relative;
}

.form-row.edit input {
  width: 20rem;
  height: 3rem;
}

.form-row:nth-child(odd) {
	background-color: #ffffff33;
}

.form-row:nth-child(even) {
	background-color: #ffffff22;
}

form > .form-row, .info-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem;
  gap: 1rem;
  background-color: #00000024;
}

.form-row input {
	max-width: 16rem;
}

.form-row.password input {
	width: 12rem;
}

.form-row > *:first-child {
	min-width: 4rem;
}

.form-row:first-of-type > input {
	flex-grow: 1;
}

.form-row:first-of-type {
	flex-grow: 1;
	border-radius: var(--border-radius);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-row:last-of-type {
	margin-bottom: 1rem;
	border-radius: var(--border-radius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-row:only-of-type {
	border-radius: var(--border-radius);
}

.form-row.text-area > input {
	height: 4rem;
}

.x-button::after {
	content: "X";
	color: white;
}
