@{
    ViewData["Title"] = "Animal Shelter Client";
}

@using AnimalShelterClient.Models

@await Html.PartialAsync("PageLinkSpread")

<h1 class="page-header"><span>All Animals</span>
@if (User.Identity.IsAuthenticated) 
{ 
  <a href='@Url.Action("Create", "Home")'>
      <button class="green">Add an Animal</button>
  </a>
}
</h1>

@if (Model != null)
{
<ul id="home-animal-list" class="animal-list obscured">
    @foreach (Animal animal in Model)
    {
        <li class="animal-list-item">
            <div class="animal-text">@animal.Name</div>
            <div class="animal-speaker">@animal.Breed</div>
            @if (User.Identity.IsAuthenticated) {
                <div class="button-area">
                @using (Html.BeginForm("LoadEdit", "Home", new { id = animal.AnimalId }))
                {
                    <button type="submit" class="yellow">Edit</button>
                }
                @using (Html.BeginForm("Delete", "Home", FormMethod.Get))
                {
                  @Html.Hidden("id", animal.AnimalId)
                  <input type="hidden" name="currentPage" value=@ViewBag.CurrentPage>
                  <button class="red">Delete</button>
                }
                </div>
            }
        </li>
    }
</ul>
}
else
{
    <p>No animals found</p>
}

@await Html.PartialAsync("PageLinkSpread")

<script>
window.addEventListener("load", () => {
    document.getElementById("home-animal-list").classList.remove('obscured');
});
</script>

