<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>
  @await Html.PartialAsync("Header")
  <main>@RenderBody()</main>
  <script src="~/js/scripts.js" asp-append-version="true"></script>
</body>
</html>