@model AnimalShelterClient.Models.Animal

<div id="delete-modal-@Html.DisplayFor(model => model.AnimalId)" class="modal delete-modal obscured hidden">
  <div class="modal-message">
    <div>Are you sure you want to delete <span class="highlighted">@Html.DisplayFor(model => model.Name)</span>?</div>
  </div>
  <div class="confirm-image confirm-@Model.Species.ToLower()"></div>
  <div class="button-area">
    @using (Html.BeginForm("Delete", "Home", new { id = @Model.AnimalId, currentPage = ViewBag.CurrentPage, pageSize = ViewBag.pageSize }))
    {
      <button class="red" type="submit">Delete</button>
    }
  </div>
  <div class="button-area">
    <button onclick="hideModal('delete-modal-@Html.DisplayFor(model => model.AnimalId)')">Cancel</button>
  </div>
</div>