<footer>
  <div>made for <a href="https://epicodus.com">Epicodus</a> by <a href="mailto:mike@mikedonovan.dev">mike@mikedonovan.dev</a></div>
  <a href="https://github.com/eggborne/AnimalShelterClient.Solution">
    <div id="github-footer-link">
      <span>View this project on</span>
      <div class="github-logo"></div>
      <div class="github-icon"></div>
    </div>
  </a>
</footer>