<header>
  <h1 class="home-header">Animal Shelter API Client</h1>
  <img id="header-animals-image" alt="Some very cute animals" />
  <div id="header-button-area">
  @if (User.Identity.IsAuthenticated) {
      <p>logged in as <span class="highlighted">@User.Identity.Name</span></p>
      @using (Html.BeginForm("LogOff", "Account"))
      {
          <button type="submit" class="red">Log out</button>
      }
  } else {
    @await Html.PartialAsync("LoginRegisterModal")
    <button onclick="showModal('login-register-modal')" class="green">Log in / Register</button>  
  }
  </div>
</header>