<div class="button-area page-link-spread">
    <a href='/?page=@(ViewBag.CurrentPage - 1)&pageSize=@ViewBag.PageSize'>
        <button disabled=@(ViewBag.CurrentPage == 1)>Prev</button>
    </a>
    @for (var i = ViewBag.StartingPageLinkIndex; i < (ViewBag.StartingPageLinkIndex + 5); i++) {
        @if (i == ViewBag.CurrentPage) {
            <div class="current-page">@(i)</div>
        } else if (i > ViewBag.TotalPages) {
            continue;
        } else {
            <a class="page-link" href="/?page=@(i)&pageSize=@ViewBag.PageSize">@(i)</a>
        }
    }
    <a href='/?page=@(ViewBag.CurrentPage + 1)&pageSize=@ViewBag.PageSize'>
        <button disabled=@(ViewBag.CurrentPage >= ViewBag.TotalPages)>Next</button>
    </a>
</div>